<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Create new Prodotto</title>
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" th:href="@{manageProdotti}">Provider Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{manageProdotti}">Product Management System</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{manageFornitori}">Provider Management System</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center"> Create new Provider</h1>
            <div class="card-body">
                <form th:action="@{/fornitori}" th:object="${fornitore}" method="POST">
                    <div class="form-group">
                        <label> Nome </label>
                        <input
                                type="text"
                                name="nome" th:field="*{nome}"
                                class="form-control"
                                placeholder="Enter Name of provider"
                        />
                    </div>
                    <div class="form-group">
                        <label> Indirizzo </label>
                        <input
                                type="text"
                                name="address" th:field="*{address}"
                                class="form-control"
                                placeholder="Enter the Address of provider"
                        />
                    </div>
                    <div class="form-group">
                        <label> Email </label>
                        <input
                                type="text"
                                name="email" th:field="*{email}"
                                class="form-control"
                                placeholder="Enter the Email of provider"
                        />
                    </div>
                    <div class="form-group">
                        <label> Products </label>
                        <input
                                type="text"
                                name="prodotti" th:field="*{prodotti}"
                                class="form-control"
                                placeholder="Enter the Products of provider"
                        />
                    </div>
                    <div class="form-group">
                        <label> Immagini </label>
                        <input
                                type="text"
                                name="images" th:field="*{picture}"
                                class="form-control"
                                placeholder="Enter the Images of provider"
                        />
                    </div>

                    <div class="box-footer">
                        <button type="submit" class = "btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>