<!DOCTYPE html>
<!--suppress JSUnresolvedLibraryURL -->
<html lang="it" xmlns:th="www.thymeleaf.org" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />
  <title>
    Admin Dashboard
  </title>

  <link href="../../static/css/flipper.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body >


<nav class="navbar  navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand text-bg-light" th:href="@{/}">SIW-PRODUCT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-bg-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Catalogo
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" th:href="@{prodotti}">Prodotti</a>
          <a class="dropdown-item" th:href="@{fornitori}">Fornitori</a>
        </div>
      </li>
    </ul>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" th:href="@{registerForm}">Sign Up</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{loginForm}">Log In</a></li>
      </ul>
    </div>
  </div>
</nav>
<br>
<br>

<h1>Benvenuto nella tua Dashboard</h1>


<!-- le operazioni che l'admin può svolgere-->

<div class="cards-list">

  <div class="card 1"  >

    <div class="card_image" > <img src="../../static/images/prodotti.jpg" height="600" width="600" alt=""/> </div>
    <div class="card_title title-black">
      <a href="indexProdotto.html">Gestisci prodotti</a>
    </div>
  </div>

  <div class="card 2">
    <div class="card_image">
 <img src="../../static/images/recensioni2.jpg"   alt=""/>
    </div>
    <div class="card_title title-black">
      <a href="indexProdotto.html">Gestisci recensioni</a>
    </div>
  </div>

  <div class="card 3">
    <div class="card_image">
      <img src="../../static/images/delivery.webp" alt=""/>
    </div>
    <div class="card_title title-black">
      <a href="indexFornitore.html">Gestisci fornitori</a>
    </div>
  </div>
</div>



</body>

<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="../../static/js/bootstrap.bundle.min.js"></script>
<script src="../../static/js/tiny-slider.js"></script>
<script src="../../static/js/custom.js"></script>


</html>